/* body */
.body-container {
  justify-content: space-evenly;
}

/* product */
.product-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 26%;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 75px 20px;
  max-width: 390px;
  user-select: none;
}

.product-container:hover {
  cursor: pointer;
}

.product-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-div-container .product-image-wrapper {
  display: flex;
  justify-content: center;
  max-height: 450px;
}

.product-div-container .product-image-wrapper img {
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 2%;
  aspect-ratio: 4 / 5.5;
  max-height: 380px;
  min-height: 290px;
  min-width: 180px;
}

.content-container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  font-size: var(--font-base);
}

.content-container .content-price {
  font-weight: 600;
}

.product-content-container .content-title-wrapper {
  color: #363636;
  font-size: var(--font-xxl);
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content-container .content-brandName {
  display: flex;
  flex-direction: row;
}

.content-container .content-brandName p {
  margin-right: 10px;
}

.none {
  display: none;
}

.pagination-container .pagination-list {
  justify-content: center; 
}