:root {
  --hover-background-color: #f5f5f5;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  all: unset;
}

/* header */
.clicked-label {
	background-color: #DFDFDF;
}

/* main */

.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
	padding: 0 7vw 0 7vw;
  margin-top: 50px;
}

/* product */

.product-container {
  display: flex;
  border-radius: 2%;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 20px 20px 20px 20px;
  width: 28%;
  min-width: 290px;
  max-width: 350px;
  user-select: none;
}

.product-div-container {
  padding: 23px;
}

.product-container:hover {
  cursor: pointer;
  background-color: aliceblue;
}

.product-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-container .product-image-wrapper {
  margin: 0 auto;
  width: 170px;
}

.product-container .product-image-wrapper img {
  object-fit: scale-down;
  padding-bottom: 20px;
  width: 300px;
  height: 250px;
}

.content-container {
  width: 100%;
}

.content-left-container {
  width: 150px;
}

.content-left-container, .content-right-container {
  display: flex;
  flex-direction: column;
}

.product-content-container .content-title-wrapper {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content-left-container .content-brandName {
  display: flex;
  flex-direction: row;
}

.content-left-container .content-brandName p {
  margin-right: 10px;
}

.none {
  display: none;
}

.pagination-container .pagination-list {
  justify-content: center; 
}