:root {
  --hover-background-color: #f5f5f5;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  all: unset;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* main */
.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4vw 0 4vw !important;
  -webkit-box-align: start;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

.product-container {
  display: flex;
  justify-content: center;
  padding: 0 5vh 0 5vh;
}

/* image */
.image-warpper img {
  max-width: 30vw;
  max-height: 50vh;
}
@media (min-width: 768px) {
  .image-warpper img {
    object-fit: cover;
    min-width: 350px;
    min-height: 500px;
  }
}

.image-warpper {
  margin-right: 20px;
}

/* content__container */
.content__container {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 500px;
  font-weight: 600;
}

.content__name {
  font-weight: 900;
  font-size: 1.5rem;
  color: #505050;
  line-height: 1.125;
  margin-bottom: 4%;
}

.content__category {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666666;
  line-height: 1.125;
  margin-bottom: 2%;
  font-weight: 900;
  font-style: oblique;
}

.content__price {
  font-size: 2.75rem;
  margin-bottom: 20px;
  color: #555555;
  line-height: 1.125;
  margin-bottom:20px;
  font-weight: 900;
}

.content__desc {
  font-size: 1.1rem;
  height: 120px;
}

.content__main-info .content__price {
  font-weight: 600;
}

.content__detail-info {
  margin-bottom: 30px;
}

.content__detail-info p span:first-child {
  display: inline-block;
  width: 80px;
  color: #929292;
}

.content__detail-info p span:last-child {
  display: inline-block;
  color: #929292;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content__detail-info p {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.amount-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.amount-container .amount-minus-button {
  color:black;
}

.amount-container .amount-plus-button {
  color:black;
  padding-bottom: 4px;
}

.amount-container a {
  font-size: 24px;
  font-weight: 300;
  padding: 0 5px 0 5px;
}

.amount-container a:hover {
  background-color: #cecece;
  opacity: 70%;
}

.amount-input {
  width: 24px;
  height: 30px;
  text-align: center;
  border: 1.5px solid #eee;
  text-indent: 0;
}

.total-price-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  align-items: flex-end;
}

.total-price-container .amount-total-price {
  font-size: 1.2rem;
}

.total-price-container .total-price-text {
  font-size: 0.7rem;
}

.button-container {
  display: flex;
  margin-top: 15px;
}

.button-container button {
  margin: 0 !important;
}

.button-container #order-button {
  align-items: center;
  background-color: #bba98e;;
  border: 1px solid #806947;;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(245, 243, 239);
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 130px;
  text-align: center;
  position: relative;
}

.button-container #cart-button {
  align-items: center;
  background-color: #fdfdfd;
  border: 1px solid #00000057;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 130px;
  text-align: center;
  position: relative;
  left: 10px;
}

.button-container #cart-button :active, :focus {
 box-shadow: none !important;
}

.cart-message {
  opacity: 0;
  transition: 0.5s all ease;
}

.fade-message {
  opacity: 1;
}

@media (max-width: 768px) {
  .body-container {
    margin-top: 10vh;
    min-height: 90vh;
    width: 350px;
    padding: 0 !important;
  }
  .product-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    min-height: 80vh;
  }
  .image-warpper {
    display: flex;
    justify-content: center;
    min-width:100%;
    min-height:100%;
    margin-right: 0px;
  }
  .image-warpper img {
    object-fit: cover;
    margin-bottom: 20px;
    max-height: 740px;
    min-width: 350px;
    min-height: 520px;
  }

  .content__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .content__name {
    font-size: 1.7rem;
  }
  .content__price {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .content__category {
    font-size: 1.0rem;
  }
  .content__desc {
    font-size: 1.0rem;
    height: 6vh;
  }

  .content__detail-info{
    margin-bottom: 10px;
  }

  .content__detail-info p span:first-child {
    font-size: 1.0rem;
  }
  
  .content__detail-info p span:last-child {
    font-size: 0.8rem;
  }

  .total-price-container {
    margin-left: 0px;
    margin-right: 13px;
  }

  .button-container {
    margin-top: 0px;
  }

  .button-container #order-button {
    font-size: 13px;
    height: 38px;
    line-height: 16px;
    width: 100px;
    margin-top: 15px;
  }
  
  .button-container #cart-button {
    font-size: 13px;
    height: 38px;
    line-height: 16px;
    width: 100px;
    left: 5px;
  }
  .cart-message {
    font-size:0.875rem;
  }
}

@media (max-width: 680px) {
  .body-container {
    margin-top: 0px;
    min-height: 80vh;
    padding: 0;
  }
  .image-warpper {
    margin-right: 5px;
  }
  .content__name,
  .content__price {
    font-size: 1.5rem;
  }
  .content__category,
  .content__desc {
    font-size: 0.9rem;
  }
  .content__detail-info p span:first-child {
    font-size: 0.9rem;
  }
  
  .content__detail-info p span:last-child {
    font-size: 0.7rem;
  }

  .button-container #order-button {
    font-size: 12px;
    height: 34px;
    line-height: 16px;
    width: 100px;
    margin-top: 5px;
  }
  
  .button-container #cart-button {
    font-size: 12px;
    height: 34px;
    line-height: 16px;
    width: 100px;
  }
  .cart-message {
    font-size:0.75rem;
  }
}

@media (max-width: 620px) {
  .body-container {
    margin-top: 0px;
    min-height: 70vh;
    padding: 0;
  }
  .image-warpper {
    margin-right: 0px;
  }
  .content__name,
  .content__price {
    font-size: 1.4rem;
  }
  .content__category,
  .content__desc {
    font-size: 0.8rem;
  }
  .content__detail-info p span:first-child {
    font-size: 0.8rem;
  }
  
  .content__detail-info p span:last-child {
    font-size: 0.6rem;
  }

  .button-container #order-button {
    font-size: 10px;
    height: 30px;
    line-height: 14px;
    width: 90px;
    margin-top: 3px;
  }
  
  .button-container #cart-button {
    font-size: 10px;
    height: 30px;
    line-height: 14px;
    width: 90px;
  }

  .cart-message {
    font-size:0.70rem;
  }
}