<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Liquor Store 🍸</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
		/>
		<script
			defer
			src="https://kit.fontawesome.com/9daa42bcef.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="product_detail.css" />
		<link rel="stylesheet" href="../template/footer/footer.css" />
		<link rel="stylesheet" href="../template/header/header.css" />
	</head>
	<body>
		<!-- todo: 스크롤 내리면 로고, 검색창 등 작아지게 만들기 -->
		<main class="body-container">
			<section>
				<!-- API요청 후 이곳에서 제품을 불러옵니다. -->
				<div class="product-container">
					<div class="image-warpper">
						<img src="../img/ricewine_icon.png" alt="" />
					</div>
					<div class="content__container">
						<div class="content__main-info">
							<p class="content__item content__name">제목</p>
							<p class="content__item content__price">가격</p>
							<p class="content__desc">나는 정보입니다 맛있는 술이에요 얼른 사가세용</p>
						</div>
						<div class="content__detail-info">
							<p>
								<span class="content__sold">판매량</span>
								<span class="content__item content__sold"></span>
							</p>
							<p>
								<span class="content__alcoholType">종류</span>
								<span class="content__item content__alcoholType"></span>
							</p>
							<p>
								<span class="content__alcoholDegree">도수</span>
								<span class="content__item content__alcoholDegree"></span>
							</p>
							<p>
								<span class="content__volume">용량</span>
								<span class="content__item content__volume"></span>
							</p>
							<p>
								<span class="content__manufacturedDate">제조일자</span>
								<span class="content__item content__manufacturedDate"></span>
							</p>
						</div>
						<div class="button-container">
							<button class="button is-info ml-2" id="order-button">
								주문하기
							</button>
							<button class="button" id="basket-button">장바구니 담기</button>
							<p class="cart-message">장바구니에 담았습니다! 로컬스토리지 확인 ㄱㄱ염</p>
						</div>
					</div>
				</div>

				<script type="module" src="../template/getHeaderFooter.js"></script>
				<script src="product_detail.js"></script>
			</section>
		</main>
	</body>
</html>
