<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>비밀번호 찾기</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="find_password.css" />
    <link rel="stylesheet" href="../template/main_style.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
  </head>
  <body>
    <main class="body-container">
      <div class="body-section-container">
        <span>비밀번호를 잊으셨나요?</span>
        <p>본인 확인을 위해 가입한 이름과 이메일을 입력해 주세요.</p>
        <form class="body-login-form" id="login-form">
          <section class="login-form-input">
            <input
              class="input"
              id="nameInput"
              type="text"
              minlength="2"
              placeholder="가입한 이름을 입력하세요"
              autocomplete="on"
            />
          </section>

          <section class="login-form-input">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="가입한 이메일을 입력하세요"
              autocomplete="on"
            />
          </section>

          <button class="find-password-button" id="submitButton">비밀번호 찾기</button>
        </form>
      </div>
    </main>
    <script src="find_password.js" type="module" defer></script>
    <script src="../template/getHeaderFooter.js" type="module" defer></script>
  </body>
</html>
