.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 7vw 70px 7vw;
}

.body-container .body-section-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-section-container span {
  font-size: 30px;
  margin-bottom: 15px;
}

.body-section-container p {
  font-size: 17px;
  margin-bottom: 10px;
}

.body-login-form {
  display: flex;
  flex-direction: column;

  width: 500px;
}

.body-login-form section {
  margin-bottom: 10px;
}

.find-password-button {
  cursor: pointer;
  border-radius: 5px;
  background-color: lightcoral;
  box-sizing: content-box;
  text-align: center;
}
