@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GangwonEdu_OTFBoldA";
}

body {
  overflow-x: hidden;
  margin: 0;
}

header,
.body-container,
footer {
  padding: 0 7vw 0 7vw;
}

.body-section-container {
  display: flex;
  flex-direction: column;
}

.body-section-container .title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid;
}

.user-container section {
  margin: 10px 10px;
}

.body-section-container .user-personal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-personal-info .personal-info-title {
  margin-bottom: 10px;
}

.personal-info-title span {
  font-size: 25px;
  font-weight: bold;
}

.user-personal-info .personal-info-contents {
  display: flex;
  flex-direction: column;
}

.personal-info-contents #info-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
  padding: 20px 5px;
}

#info-wrapper p {
  font-weight: bold;
  width: 100px;
  margin-right: 50px;
}

#info-wrapper span {
  width: 200px;
}

#info-wrapper .user-address {
  width: 200px;
}

.adChangeBtn,
.numChangeBtn,
.pwChangeBtn {
  position: absolute;
  left: 83%;
}

.password-container .password-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
}

.password-container .change-password-container {
  flex-direction: column;
}

.password-container div button {
  width: fit-content;
}

.address-container .user-address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.address-container #change-address-container {
  flex-direction: row;
}

#change-address-container button {
  height: 30px;
}

.address-container button {
  width: fit-content;
}

.change-info {
  display: none;
  flex-direction: column;
}

.change-info .address-input-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.change-info input {
  margin-bottom: 5px;
}

#buttons {
  height: 30px;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 17px;
  font-weight: 400;
  line-height: 0.5rem;
  padding: 0.75rem 1rem;
  text-align: start;
  text-decoration: none #d1d5db solid;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#buttons:hover {
  background-color: rgb(249, 250, 251);
}

#buttons:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#buttons:focus-visible {
  box-shadow: none;
}

.adConfrimBtn,
.numConfirmBtn,
.pwConfirmBtn {
  margin-right: 5px;
}

.btn-container {
  display: none;
  position: absolute;
  left: 78%;
}

input {
  border: 1px solid gray;
}

.delete-user-information-btn {
  border-bottom: 1px solid gray;
  border-radius: 0;
  font-size: 13px;
  color: gray;
  position: absolute;
  left: 85%;
  margin-top: 10px;
}
