<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>사용자 정보 창</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="user_information.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
  </head>

  <body>
    <main class="body-container">
      <div class="body-section-container">
        <div class="title">
          <span>개인 정보</span>
        </div>
        <div class="user-container">
          <section class="user-personal-info" id="user-container">
            <!-- <div class="personal-info-title">
              <span>계정</span>
            </div> -->
            <div class="personal-info-contents">
              <div class="email-contents" id="info-wrapper">
                <p>이메일</p>
                <span class="user-info" id="user-email">[email]</span>
              </div>
              <div class="name-contents" id="info-wrapper">
                <p>이름</p>
                <span class="user-info" id="user-name">[이름]</span>
              </div>
              <div class="password-container" id="info-wrapper">
                <p>비밀번호</p>
                <span>●●●●●●</span>
                <div class="change-info" id="change-password-container">
                  <input type="text" class="user-password" placeholder="기존 비밀번호" />
                  <input type="text" class="changePassword" placeholder="새로운 비밀번호" />
                  <input
                    type="text"
                    class="changePasswordCheck"
                    placeholder="새로운 비밀번호 확인"
                  />
                </div>
                <div class="btn-container" id="password-btn-container">
                  <button class="pwConfirmBtn" id="buttons">확인</button>
                  <button class="pwCancelBtn" id="buttons">취소</button>
                </div>
                <div class="password-info">
                  <button class="pwChangeBtn" id="buttons">수정</button>
                </div>
              </div>
              <div class="phoneNumber-container" id="info-wrapper">
                <p>전화번호</p>
                <span class="user-info" id="user-phoneNumber-number">[전화번호]</span>
                <div class="change-info" id="change-phoneNumber-container">
                  <input
                    type="text"
                    class="changePhoneNumber"
                    placeholder="-를 빼고 입력해주세요"
                  />
                </div>
                <div class="btn-container" id="phoneNumber-btn-container">
                  <button class="numConfirmBtn" id="buttons">확인</button>
                  <button class="numCancelBtn" id="buttons">취소</button>
                </div>
                <button class="numChangeBtn" id="buttons">수정</button>
              </div>
              <div class="address-container" id="info-wrapper">
                <p>주소</p>
                <div class="user-address">
                  <span class="user-info" id="user-postalCode">[주소1]</span>
                  <span class="user-info" id="user-address1">[주소1]</span>
                  <span class="user-info" id="user-address2">[주소2]</span>
                </div>
                <div class="change-info" id="change-address-container">
                  <div class="address-input-container">
                    <input
                      type="text"
                      class="changePostalCode"
                      placeholder="우편번호"
                      readonly
                    />
                    <input type="text" class="changeAddress1" placeholder="주소" readonly />
                    <input type="text" class="changeAddress2" placeholder="상세주소" />
                  </div>
                  <button class="find-address-button" type="submit" id="buttons">
                    주소 찾기
                  </button>
                </div>
                <div class="btn-container" id="address-btn-container">
                  <button class="adConfrimBtn" id="buttons">확인</button>
                  <button class="adCancelBtn" id="buttons">취소</button>
                </div>
                <button class="adChangeBtn" id="buttons">수정</button>
              </div>
              <div>
                <button class="delete-user-information-btn">회원탈퇴</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>

    <script src="user_information.js" type="module"></script>
    <script src="../template/getHeaderFooter.js" type="module"></script>
  </body>
</html>
