@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GangwonEdu_OTFBoldA";
}

body {
  overflow-x: hidden;
  margin: 0;
}

.main-section-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-section-container .main-join-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.main-join-form section {
  margin: 20px 0;
}

.main-join-form .join-form-hello p {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
}

.main-join-form input {
  height: 50px;
  font-size: 1.125rem;
  padding-left: 10px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
}

#emailInput {
  margin-bottom: 3px;
}

.main-join-form .join-form-button {
  margin: 30px 0;
  font-size: 1.125rem;
  height: 50px;
  align-items: center;
  background-color: var(--brown-500);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: var(--white-200);
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-weight: 550;
  justify-content: center;
  line-height: 1;
  outline: none;
  padding: 1rem 1.1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s linear;
}

.join-form-button:hover {
  box-shadow: var(--brown-500) 0 0 0 1.5px, transparent 0 0 0 0;
}

.emailOverlap {
  align-items: center;
  background-color: var(--white-200);
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: var(--black-400);
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  justify-content: center;
  line-height: 1;
  margin-left: 71%;
  outline: none;
  padding: 1rem 1.1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s linear;
}

.emailOverlap:hover {
  box-shadow: var(--black-400) 0 0 0 1.5px, transparent 0 0 0 0;
}
