<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입 - 한술담 🍶</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="join.css" />
    <link rel="stylesheet" href="../template/main_style.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
  </head>

  <body>
    <main class="body-container">
      <div class="main-section-container">
        <form class="main-join-form" onsubmit="return false;">
          <section class="join-form-hello">
            <p>가입을 환영합니다</p>
          </section>
          <section class="join-form-input">
            <label for="nameInput">이름</label>
            <div>
              <input
                class="input"
                id="nameInput"
                type="text"
                name="username"
                minlength="2"
                maxlength="20"
                required="required"
                placeholder="나의 이름은?"
                autocomplete="on"
              />
            </div>
          </section>
          <section class="join-form-input">
            <div>
              <label for="emailInput">이메일</label>
              <div>
                <input
                  class="input"
                  id="emailInput"
                  type="email"
                  name="email"
                  required="required"
                  placeholder="abc@example.com"
                  autocomplete="on"
                />
              </div>
            </div>
            <button class="emailOverlap">이메일 중복 확인</button>
          </section>
          <button class="join-form-button">가입하기</button>
        </form>
      </div>
    </main>
    <script src="join.js" type="module" defer></script>
    <script src="../template/getHeaderFooter.js" type="module"></script>
  </body>
</html>
