@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import url("../main_style.css");

/* footer */
.footer-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-top: 1px solid rgb(243, 243, 243);
  margin-top: 50px;

  padding: 30px 7vw 70px 7vw;
}

.footer-container .footer-policy {
  display: flex;
  margin-bottom: 11px;
  box-sizing: border-box;
}

.footer-container .footer-policy .policy-item {
  display: flex;
}

.footer-container .footer-policy .policy-item .footer-item-text {
  font-size: var(--font-sm);
  margin-right: 40px;
  text-decoration: none;
  color: black;
}

.footer-info li .footer-item-text {
  font-size: var(--font-xs);
}

.footer-info .info-item {
  height: 14px;
}