@import url('../template/main_style.css');

/* product */
.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 75px 20px;
  width: 25%;
  /* min-width: 290px; */
  max-width: 390px;
  user-select: none;
}

.product-container:hover {
  cursor: pointer;
}

.product-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-div-container .product-image-wrapper {
  display: flex;
  justify-content: center;
  max-height: 667px;
}

.product-div-container .product-image-wrapper img {
  object-fit: contain;
  padding-bottom: 20px;
  border-radius: 1%;
  height: 405px;
}

.content-container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  font-size: var(--font-base);
}

.content-container .content-price {
  font-weight: 600;
}

.product-content-container .content-title-wrapper {
  color: #363636;
  font-size: var(--font-xxl);
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content-container .content-brandName {
  display: flex;
  flex-direction: row;
}

.content-container .content-brandName p {
  margin-right: 10px;
}

.none {
  display: none;
}

.pagination-container .pagination-list {
  justify-content: center; 
}

/* event category */
.body-container {
  display: inline-flex;
  flex-direction: column;
}

.events-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 500px;
}

.event-wrapper {
  cursor: pointer;
  font-size: var(--font-xl);
  font-weight: 400;
}

.event-wrapper:hover {
  color: var(--brown-600-hover);
}

.is-clicked {
  color: var(--brown-600-hover);
}