@import url("../template/main_style.css");

.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px !important;
  padding: 0 10vw 0 10vw !important;
  transition: all 0.05s ease-in;
}

@media screen and (min-width: 1700px) {
  .body-container {
    padding: 0 15vw 0 15vw !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1700px) {
  .body-container {
    padding: 0 9vw 0 9vw !important;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1300px) {
  .body-container {
    padding: 0 5vw 0 5vw !important;
  }
}

@media screen and (min-width: 885px) and (max-width: 1150px) {
  .body-container {
    padding: 0 1vw 0 1vw !important;
  }

  .product-container-wrapper {
    width: 25.5% !important;
  }

  .product-content-container .content-title-wrapper {
    font-size: var(--font-xl);
  }

  .product-content-container .content-price {
    font-size: var(--font-base);
  }
}

@media screen and (min-width: 575px) and (max-width: 885px) {
  .product-container-wrapper {
    width: 39.5% !important;
  }

  .events-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 575px) {
  .product-container-wrapper {
    width: 49.5% !important;
  }

  .events-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 414px) {
  .body-container {
    padding: 0 0 0 0 !important;
  }
}

/* product */
.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}
.product-container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.5%;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin: 0px 5px 65px 10px;
  max-width: 390px;
  user-select: none;
}

.product-container:hover {
  cursor: pointer;
}

.product-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-div-container .product-image-wrapper {
  display: flex;
  justify-content: center;
  max-height: 450px;
}

.product-div-container .product-image-wrapper img {
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 2%;
  aspect-ratio: 4 / 5.5;
  max-height: 380px;
  min-height: 260px;
  min-width: 165px;
  transition: all 0.15s ease;
}

.product-div-container .product-image-wrapper img:hover,
.product-content-container:hover {
  opacity: 0.75;
}

/* product-content-container */
.product-content-container {
  transition: all 0.15s ease;
}

.content-title-wrapper {
  color: #363636;
  font-size: var(--font-xxl);
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 8px;
}

.content-container {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  font-size: var(--font-base);
}

.content-container .content-price {
  font-weight: 600;
}

.content-container .content-brandName {
  display: flex;
  flex-direction: row;
}

.content-container .content-brandName p {
  margin-right: 10px;
}

.none {
  display: none;
}

/* pagination */
.pagination-container .pagination-list {
  gap: 1rem;
  justify-content: center;
}

/* event category */
.events-container {
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
}

.event-wrapper {
  cursor: pointer;
  font-size: var(--font-xl);
  font-weight: 400;
}

.event-wrapper:hover {
  color: var(--brown-600-hover);
}

.is-clicked {
  color: var(--brown-600-hover);
}

.separator {
  margin: 0 10px 0 10px;
  opacity: 0.4;
}

/* header */
.header-menu-wrapper .menu-list li {
  margin-bottom: 0px !important;
} 