.body-container {
  padding: 20px 68.6px;
}

.order-container {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}

.body-container .order-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: bisque;
  padding: 15px 15px;
}

.body-container button {
  cursor: pointer;
  border: 1px solid;
  box-sizing: content-box;
}

.body-container span {
  margin: 10px 0;
  font-size: 30px;
}

.order-container .order-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-date span {
  font-size: 20px;
}

.order-container .order-status {
  font-size: 20px;
}

.order-container .single-product-container {
  background-color: azure;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.single-product-container span {
  font-size: 15px;
}

.bill-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.order-container .address-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: azure;
  border-radius: 15px;
  padding: 15px 15px;
}

.user-change-container {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background-color: azure;
  border-radius: 15px;
  padding: 15px 15px;
  margin-top: 10px;
}

.button-container {
  margin-top: 15px;
  display: none;
  flex-direction: row;
  justify-content: center;
}

.button-container button {
  width: 100px;
  height: 50px;
  background-color: lightsteelblue;
  border-radius: 15px;
  text-align: center;
  margin: 0 5px;
  font-size: 15px;
}

.single-product-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.single-product-container .single-product-detail {
  display: flex;
  flex-direction: column;
}

.single-product-detail span {
  margin: 0;
}

.single-product-detail .single-product-name {
  font-weight: bold;
  font-size: 20px;
}

.address-container div span {
  font-size: 15px;
}

.address-container .user-address {
  display: flex;
  flex-direction: row;
}

.user-address span {
  margin-right: 10px;
}

.user-address div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.address-container .user-credit-card {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.user-credit-card span {
  margin-right: 10px;
}

.user-credit-card div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-change-container .change-wrapper {
  display: flex;
  flex-direction: column;
}

.user-change-container div span {
  font-size: 15px;
}

.address-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.address-input-container span {
  margin: 0;
  margin-right: 15px;
  text-align: start;
}

.address-input-container div {
  display: flex;
  flex-direction: column;
}

.address-input-container div input {
  margin-bottom: 5px;
}

.change-btn {
  width: 70px;
  border-radius: 10px;
  text-align: center;
}
