.body-container {
  padding: 20px 68.6px;
}

.order-container {
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
}

.body-container .order-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: bisque;
  padding: 15px 15px;
}

.body-container button {
  cursor: pointer;
  box-sizing: content-box;
}

.body-container span {
  margin: 10px 0;
  font-size: 30px;
}

.order-container .order-date {
  display: flex;
  flex-direction: row;
}

.order-date span {
  font-size: 15px;
}

.order-date .orderDate {
  padding-right: 5px;
  border-right: 1px solid;
}

.order-date .order-id {
  padding-left: 5px;
}

.order-status div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-container .order-status {
  font-size: 20px;
}

.order-container .single-product-container {
  background-color: azure;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.single-product-container span {
  font-size: 15px;
}

.detail-info-button-container {
  display: flex;
  justify-content: center;
}

.detail-info-button-container .detail-info-btn {
  font-size: 17px;
  border-style: none;
}

.order-container .address-container {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.address-container .address-text {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.address-container .address-info-text {
  color: rgb(91, 90, 90);
  width: 70px;
}

.payment-information-container {
  display: none;
  flex-direction: column;
}

.payment-information-container .payment-text {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.payment-wrapper {
  display: flex;
  flex-direction: row;
}

.payment-information-container .payment-wrapper span {
  font-size: 15px;
  margin: 5px 0;
}

.payment-wrapper .payment-info-text {
  color: rgb(91, 90, 90);
  margin: 5px 0;
  width: 70px;
}

#payment-method-wrapper {
  display: flex;
  flex-direction: row;
}

.payment-method {
  margin: 5px 0;
}

.user-change-container {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background-color: azure;
  border-radius: 15px;
  padding: 15px 15px;
  margin-bottom: 10px;
}

.user-change-container div {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

.user-change-container div span {
  width: 70px;
  margin: 0;
}

.user-change-container input {
  border-style: none;
  border-radius: 0;
}

.button-container {
  margin-top: 15px;
  display: none;
  flex-direction: row;
  justify-content: center;
}

.button-container button {
  width: 100px;
  height: 50px;
  background-color: lightsteelblue;
  border-radius: 15px;
  text-align: center;
  margin: 0 5px;
  font-size: 15px;
}

.single-product-container img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.single-product-container .single-product-detail {
  display: flex;
  flex-direction: column;
}

.single-product-detail span {
  margin: 0;
}

.single-product-detail .single-product-name {
  font-weight: bold;
  font-size: 20px;
}

.address-container div span {
  font-size: 15px;
}

.address-container .address-info-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.address-info-wrapper span {
  margin: 0;
}

.address-info-wrapper div {
  display: flex;
  flex-direction: column;
}

.address-info-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-change-container .change-wrapper {
  display: flex;
  flex-direction: column;
}

.user-change-container div span {
  font-size: 15px;
}

.address-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.address-input-container span {
  margin: 0;
  margin-right: 15px;
  text-align: start;
}

.address-input-container div {
  display: flex;
  flex-direction: column;
}

.address-input-container div input {
  margin-bottom: 5px;
}

.change-btn {
  width: 70px;
  border-radius: 10px;
  background-color: darkkhaki;
  text-align: center;
}
