.order-head-container {
  width: 100%;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 70px 0px 78px;
}

.order-head-container .order-liquor-icon {
  display: flex;
  -webkit-box-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.order-head-container .order-liquor-icon img {
  width: 120px;
  height: 120px;
}

.order-head-container .order-greeting-info {
  margin-left: 15px;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.order-head-container .order-greeting-info .order-greeting {
  font-size: 22px;
}

.order-details {
  padding-bottom: 120px;
}

.order-details .order-table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 500px;
}

.order-details .order-table tr td {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  overflow: hidden;
  padding: 10px 10px;
  word-break: normal;
}

.order-table .table-content-title {
  border-color: inherit;
  text-align: center;
  vertical-align: center;
}

.order-table .table-content-bold {
  border-color: inherit;
  font-weight: bold;
  text-align: left;
  vertical-align: center;
}

.order-table .table-content-button {
  border-color: inherit;
  text-align: center;
  vertical-align: center;
  background-color: wheat;
  font-weight: bold;
}

.order-table .table-content-button a {
  font-weight: bold;
  color: rgb(229, 199, 115);
  transition: all 0.1s linear;
}

.order-table .table-content-button a:hover {
  color: rgb(91, 58, 28);
  letter-spacing: 1px;
}