@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root {
  --hover-background-color: #f5f5f5;
}

/* body */
.body-container {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 7vw 0 7vw;
  margin: 0;
}

/* main */
.admin-menu {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0 150px 0;
}

.menubox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.menubox-container a {
  display: flex;
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  color: rgb(62, 62, 62);
  transition: all 0.1s linear;
  background-color: rgba(191, 178, 106, 0.6);
  border-radius: 7%;
  min-height: 200px;
  flex-basis: 150px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menubox-container a:hover {
  color: rgb(170, 160, 150);
  letter-spacing: 1px; 
  box-shadow: 1px 1px 20px #ddd;

}

.title-container {
  background-color: rgba(191, 178, 106, 0.6);
  border-bottom: 1px solid black;
}

.title-container div {
  font-weight: 700;
}

.title-container div, .items-container div{
  text-align: center;
}


.items-container {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.items-detail {
  background-color: #f5f5f5;
}

.add-category-modal {
  position: absolute;
  width: 300px;
  top: 580px;
}

.add-category-modal button {
  width: 15px;
  height: 24px;
  left: 190px
}

.modify-category-input {
  width: 210px;
}

.modify-category-modal {
  width: 100%;
  z-index: 10;
  position: relative;
}

.modify-category-modal button{
  width: 15px;
  height: 24px;
}

.add-product-modal {
  display: flex;
  width: 50%;
  border: 0.5px solid grey;
  padding: 10px;
}

.add-product-modal button{
  width: 15px;
  height: 24px;
}

.add-product-modal .right-modal, .left-modal{
  display: flex;
  flex-direction: column;
}

.none {
  display: none;
}