<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>쇼핑-데모</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/elice-rabbit-favicon.png"
        />
        <!-- bulma css 관련 -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
        />
        <!-- 폰트 어썸: 아이콘 -->
        <script
            defer
            src="https://kit.fontawesome.com/9daa42bcef.js"
            crossorigin="anonymous"
        ></script>

        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="join-membership.css" />
        <script src="join-membership.js" type="module" defer></script>
    </head>

    <body>
        <header>
            <div class="header-container">
                <section class="navigation-menu">
                    <div class="company-logo-wrapper">
                    <img class="company-logo" src="../img/logo.png">
                    </div>
                </section>
        
                <section class="user-menu">
                    <div class="user-img">
                    <a href=""><img src="../img/뚱이.jpeg"></a>
                    </div>
                </section>
            </div>
        </header>

        <main class="body-container">
            <div class="main-section-container">
                <form class="main-join-form">
                    <section class="join-form-hello">
                        <p>가입하세용~~</p>
                    </section>
                    <section class="join-form-input">
                        <label for="nameInput">이름</label>
                        <div>
                            <input 
                                class="input"
                                id="nameInput"
                                type="text"
                                placeholder="나의 이름은?"
                                autocomplete="on">
                        </div>
                    </section>
                    <section class="join-form-input">
                        <label for="emailInput">이메일</label>
                        <div>
                            <input 
                                class="input"
                                id="emailInput"
                                type="email"
                                placeholder="abc@example.com"
                                autocomplete="on">
                        </div>
                    </section>
                    <button class="join-form-button">
                        성인 인증하기
                    </button>
                </form>
            </div>
        </main>

        <footer>
            <div class="footer-container">
                <ul class="footer-policy">
                    <li class="policy__item">
                        <a href="" class="policy__item__link footer-item-text">이용 약관</a>
                        <a href="" class="policy__item__link footer-item-text">개인정보 처리방침</a>
                        <a href="" class="policy__item__link footer-item-text">취소 및 환불 정책</a>
                    </li>
                </ul>
                <ul class="footer-info">
                    <li class="info__item">
                        <span class="info__item__text footer-item-text">
                        <b>[상호명]</b> | 대표 노숙취 | 개인정보보호책임자 노숙취 | 사업자등록번호 231-07-81350
                        </span>
                    </li>
                    <li>
                        <span class="info__item__text footer-item-text">
                        주소 서울특별시 송파구 올림픽로 300, 777층 | 이메일 tipsyboy@gogle.com | 마케팅/제휴 문의 drunk@gogle.com
                        </span>
                    </li>
                    <li>
                        <span class="footer-item-text">
                        [상호명]는 통신판매중개자로서 통신판매 당사자가 아니며, 판매자가 등록한 상품정보 및 거래에 대해 [상호명]는 책임을 지지 않습니다.
                        </span>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>