:root {
  --hover-background-color: #f5f5f5;
}

/* reset */
* {margin: 0; padding:0;}
li {list-style: none;}
a {
  text-decoration: none;
}


/* body */
body {
  overflow-x : hidden;
  margin: 0;
}

header, .body-container, footer {
  padding: 0 7vw 0 7vw;
}


/* header */
header {
  padding-top: 30px;
}

.header-container {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-menu .company-logo{
  width: 37px;
  height: 26px;
  vertical-align: middle;
}

.navigation-menu .searchbar {
  max-width: 200px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 20px;
}

.navigation-menu .searchbar .search-img {
  width: 15px;
  height: 15px;
}

.navigation-menu .searchbar .search-text {
  color: rgb(178, 178, 178);
  font-size: 18px;
  line-height: 18px;
  margin-left: 18px;
}

.user-menu {
  margin-left: 5px;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
}

.user-menu .user-list {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.user-menu .user-list li a{
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 0 0 10px;
  white-space: nowrap;
  color: rgb(62, 62, 62);
  font-weight: normal;
}

.user-menu .user-list .basket {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 11px;
}

.header-menu-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.header-menu-wrapper .menu-list {
  max-width: 1144px;
  height: 35px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  align-items: baseline;
  margin-bottom: 20px;

}

.header-menu-wrapper .menu-list .menu-label {
  position: relative;
  padding: 10px 10px 0 0;
  font-size: 18px;
}


/* main */
.section-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.sool-list {
  display: inline-flex;
  justify-content: center;
}

.sool-list .sool-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
}

.sool-list .sool-item a {
  width: 60px;
  height: 60px;
}

.sool-list .sool-item label {
  width: 60px;
  height: 60px;
  font-weight: bold;
  color: darkgray;
  text-align: center;
}

.container-slider-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 20px;
}

.slider-header-image {
  width: 45px;
  height: 45px;
}

.container-slider-header .slider-header-title {
  display: flex;
  flex-direction: column;
}

.container-slider-header .slider-header-title .main-title {
  font-size: 27px;
  font-weight: 900px;
  color: darkgray;
}

.container-slider-header .slider-header-title .sub-title {
  font-size: 22px;
  font-weight: bold;
  color: orange;
}

.container-slider-header .slider-header-title-button {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.container-slider-header .slider-header-title-button a {
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.container-slider-image {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-around;

}

.container-slider-image .container-slider-image-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px;
}

.container-slider-image .container-slider-image-button > button > img {
  width: 50px;
  height: 50px;
}

.container-products-images {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  
}

.container-products-images .products-image-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px 10px;
}

.container-products-images .products-image-list div {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 10px;
}

.container-products-images .products-image-list span {
  font-size: 20px;
}

.container-products-images .products-image-list img {
  
  width: 200px;
  height: 250px;
}

.container-products-images .products-image-list div img:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}

.carousel-wrapper {
  margin-top: 50px;
}

.carousel-wrapper-list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.carousel-item img{
  width: 300vw;
  border-radius: 10px;
  overflow-x: hidden;
}


/* footer */

.footer-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-top: 1px solid rgb(243, 243, 243);
  margin-top: 50px;

  padding: 30px 0 70px 0;
}

.footer-container .footer-policy {
  display: flex;
  margin-bottom: 11px;
  box-sizing: border-box;
}

.footer-container .footer-policy .policy__item {
  display: flex;
}

.footer-container .footer-policy .policy__item .footer-item-text {
  font-size: 17px;
  margin-right: 40px;
  text-decoration: none;
  color: black;
}

.footer-info li .footer-item-text {
  font-size: 8px;
}

.footer-info .info__item {
  height: 14px;
}