:root {
  --hover-background-color: #f5f5f5;
}

/* reset */
* {margin: 0; padding:0;}
li {list-style: none;}
a {
  text-decoration: none;
}
button{all:unset;}


/* body */
body {
  overflow-x : hidden;
  margin: 0;
}

.body-container {
  padding: 0 7vw 0 7vw;
}

/* main */
.section-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.sool-list {
  display: inline-flex;
  justify-content: center;
}

.sool-list .sool-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
}

.sool-list .sool-item a {
  width: 60px;
  height: 60px;
}

.sool-list .sool-item label {
  width: 60px;
  height: 60px;
  font-weight: bold;
  color: darkgray;
  text-align: center;
}

.container-slider-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.slider-header-image {
  width: 45px;
  height: 45px;
}

.container-slider-header .slider-header-title {
  display: flex;
  flex-direction: column;
}

.container-slider-header .slider-header-title .main-title {
  font-size: 27px;
  font-weight: 900px;
  color: darkgray;
}

.container-slider-header .slider-header-title .sub-title {
  font-size: 22px;
  font-weight: bold;
  color: orange;
}

.container-slider-header .slider-header-title-button {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.container-slider-header .slider-header-title-button a {
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.container-slider-image {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;

}

.container-slider-image .container-slider-image-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px;
}

.container-slider-image .container-slider-image-button > button > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.3);
  cursor: pointer;
  border-radius: 10px;
}

.container-slider-image .container-slider-image-button > button > img:hover {
  background-color: rgb(243, 243, 243);
  filter: opacity(0.5);
}

.container-products-images {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  
}

.container-products-images .products-image-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px 10px;
}

.container-products-images .products-image-list div {
  width: 200px;
  height: 250px;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 10px;
}

.container-products-images .products-image-list span {
  font-size: 20px;
}

.container-products-images .products-image-list img {
  width: 200px;
  height: 250px;
  cursor: pointer;
}

.container-products-images .products-image-list div img:hover {
  transform: scale(1.1);
  transition: all 0.5s linear;
}

/* carousel */
.carousel-container{
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  margin-top: 50px;  
}

.carousel-container .carousel-slide {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.carousel-container .carousel-slide > img{
  user-select: none;
}

.carousel-container .carousel-slide > img:first-child {
  border-radius: 10px 0 0 10px;
}

.carousel-container .carousel-slide > img:last-child {
  border-radius: 0 10px 10px 0;
}

.carousel-container .carousel-dots-container {
  position: absolute;  
  display: block;
  width: 85vw;
  bottom: 10%;
  z-index: 88;
}

.carousel-container .carousel-dots-container ul {
  display: flex;
  justify-content: center;
}

.carousel-container .carousel-dots-container ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 5px 0 5px;
  cursor: pointer;
}