/* main */
.section-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.sool-list {
  display: inline-flex;
  justify-content: center;
  margin-top: 30px;
}

.sool-list .sool-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
}

.sool-list .sool-item a {
  width: 60px;
  height: 60px;
}

.sool-list .sool-item span {
  width: 80px;
  height: 60px;
  font-weight: bold;
  color: darkgray;
  text-align: center;
}

/* carousel */
.carousel-container{
  width: 90%;
  max-width: 950px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  margin-top: 50px;  
}

.carousel-container .carousel-slide {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.carousel-container .carousel-slide > img{
  cursor: pointer;
  object-fit: cover;
  user-select: none;
  border-radius: 6px;
}

.carousel-container .carousel-dots-container {
  position: absolute;  
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  bottom: 10%;
  z-index: 88;
}

.carousel-container .carousel-dots-container ul {
  display: flex;
  justify-content: center;
}

.carousel-container .carousel-dots-container ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 0 5px 0 5px;
  cursor: pointer;
}

.dot-clicked {
  background-color: #f5f5f5;
}

/* slider */
.event-slider-container {
  margin: 0 6vw;
}

.slider-container-header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-right: 45px;
}

.slider-container-header .slider-header-title {
  display: flex;
  flex-direction: column;
}

.slider-container-header .slider-header-title .main-title {
  font-size: 22px;
  font-weight: 900px;
  color: darkgray;
}

.slider-container-header .slider-header-title .sub-title {
  font-size: 27px;
  font-weight: bold;
  color: orange;
}

.slider-container-header .slider-header-title-button {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

.slider-container-header .slider-header-title-button a {
  color: dodgerblue;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.more {
  font-size: 1rem;
  color: gray;
  margin-right: 15px;
}

.slider-container-contents {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;

}

.slider-container-contents .slider-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 5px;
}

.slider-container-contents .slider-button-wrapper > button > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.3);
  cursor: pointer;
  border-radius: 10px;
}

.slider-container-contents .slider-button-wrapper > button > img:hover {
  background-color: rgb(243, 243, 243);
  filter: opacity(0.5);
}

.products-container-wrapper {
  width: 840px;
  overflow: hidden;
}

.products-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  transition: all 0.5s ease;
}

.products-container .products-image-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px 10px 5px 0;
}

.products-container .products-image-list span {
  cursor: pointer;
  font-size: 20px;
}

.products-container .products-image-list span:hover {
  opacity: 0.75;
  transition: all 0.15s ease;
}

.products-container .products-image-list div {
  width: 200px;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5%;
  margin-bottom: 10px;
}

.products-container .products-image-list div img:hover {
  opacity: 0.75;
  transition: all 0.15s ease;
}
/* mobile device*/
@media (max-width: 768px) {
  .sool-list {
    margin-top: 15px;
  }

  .sool-list .sool-item {
    width: 90px;
    height: 90px;
  }
  
  .sool-list .sool-item a {
    width: 45px;
    height: 45px;
  }

  .sool-list .sool-item span {
    width: 80px;
    height: 65px;
    font-size: 17px;
  }

  .more {
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .slider-container-header .slider-header-title .main-title {
    font-size: 20px;
    font-weight: 800px;
    color: darkgray;
  }
  
  .slider-container-header .slider-header-title .sub-title {
    font-size: 24px;
  }
  
  .products-container .products-image-list span {
    font-size: 16px;
  }
  
  .products-container .products-image-list div {
    width: 180px;
    height: 225px;
  }
}

@media (max-width: 600px) {
  .sool-list {
    margin-top: 15px;
  }

  .sool-list .sool-item {
    width: 80px;
    height: 80px;
  }
  
  .sool-list .sool-item a {
    width: 40px;
    height: 40px;
  }

  .sool-list .sool-item span {
    width: 60px;
    height: 60px;
    font-size: 15px;
  }
  .more {
    font-size: 0.75rem;
    margin-right: 5px;
  }
  .slider-container-header .slider-header-title .main-title {
    font-size: 16px;
    font-weight: 700px;
    color: darkgray;
  }
  
  .slider-container-header .slider-header-title .sub-title {
    font-size: 20px;
  }
  
  .products-container .products-image-list span {
    font-size: 14px;
  }
  
  .products-container .products-image-list div {
    width: 160px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .sool-list {
    display: none;
  }
  .more {
    font-size: 0.7rem;
    margin-right: 0px;
  }
}