<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>한술담 🍶</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
  </head>
  <body>
    <main class="body-container">
      <div class="section-container">
        <div class="carousel-container">
          <div class="carousel-dots-container">
            <ul>
              <li class="carousel-dot dot-clicked">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
            </ul>
          </div>
          <div class="carousel-slide-wrapper">
            <div class="carousel-slide">
              <img class="carousel-img" src="../img/carousel1.jpeg" alt="캐러셀 이미지" />
              <img class="carousel-img" src="../img/carousel2.jpeg" alt="캐러셀 이미지" />
              <img class="carousel-img" src="../img/carousel3.jpeg" alt="캐러셀 이미지" />
            </div>
          </div>
        </div>
        <div class="sool-list">
          <div class="sool-item" id="takju" >
            <a><img src="../img/icon_takju.png" alt="alcohol type" /></a>
            <span>탁주</span>
          </div>
          <div class="sool-item" id="yakju">
            <a><img src="../img/icon_yakju.png" alt="alcohol type" /></a>
            <span>약・청주</span>
          </div>
          <div class="sool-item" id="furit-drinks">
            <a><img src="../img/icon_fruit_wine.png" alt="alcohol type" /></a>
            <span>과실주</span>
          </div>
          <div class="sool-item" id="distilled-drinks">
            <a><img src="../img/icon_distilled_drinks.png" alt="alcohol type" /></a>
            <span>증류주</span>
          </div>
          <div class="sool-item" id="liquor">
            <a><img src="../img/icon_liquor.png" alt="alcohol type" /></a>
            <span>리큐르</span>
          </div>
          <div class="sool-item" id="bundle-drinks">
            <a><img src="../img/icon_bundle.png" alt="alcohol type" /></a>
            <span>기타주류</span>
          </div>
        </div>
        <section class="event-slider-container">
          <div class="slider-container-header">
            <div class="slider-header-title">
              <div class="main-title">금주의 PICK 🍶</div>
              <div class="sub-title">선물하기 좋은 술</div>
            </div>
            <div class="slider-header-tilte-button">
              <a class="more" href="/event-page/">더 보기</a>
            </div>
          </div>
          <div class="slider-container-contents">
            <div class="slider-button-wrapper">
              <button class="slider-left-button">
                <img src="../img/left-arrow.png" />
              </button>
            </div>
            <div class="products-container-wrapper">
              <div class="products-container"></div>
            </div>
            <div class="slider-button-wrapper">
              <button class="slider-right-button">
                <img src="../img/right-arrow.png" />
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <script type="module" src="home.js"></script>
    <script type="module" src="../template/getHeaderFooter.js"></script>
  </body>
</html>
