<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Liquor Store 🍸</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
  </head>
  <body>
    <!-- todo: 스크롤 내리면 로고, 검색창 등 작아지게 만들기 -->

    <main class="body-container">
      <div class="section-container">
        <div class="carousel-container">
          <div class="carousel-dots-container">
            <ul>
              <li class="carousel-dot">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
              <li class="carousel-dot">
                <div></div>
              </li>
            </ul>
          </div>
          <div class="carousel-slide">
            <img src="../img/carousel1.png" alt="나는 캐러셀" />
            <img src="../img/carousel2.png" alt="나는 캐러셀" />
            <img src="../img/carousel3.png" alt="나는 캐러셀" />
            <img src="../img/carousel4.png" alt="나는 캐러셀" />
            <img src="../img/carousel5.png" alt="나는 캐러셀" />
          </div>
        </div>
        <div class="sool-list">
          <div class="sool-item">
            <a><img src="../img/icon_takju.png" alt="alcohol type" /></a>
            <span>전통주</span>
          </div>
          <div class="sool-item">
            <a><img src="../img/icon_takju.png" alt="alcohol type" /></a>
            <span>탁주</span>
          </div>
          <div class="sool-item">
            <a><img src="../img/icon_takju.png" alt="alcohol type" /></a>
            <span>과실주</span>
          </div>
          <div class="sool-item">
            <a><img src="../img/icon_takju.png" alt="alcohol type" /></a>
            <span>밀키트</span>
          </div>
        </div>
        <section class="container-row">
          <div class="container-slider-header">
            <div class="slider-header-title">
              <div class="main-title">금주의 PICK 🍶</div>
              <div class="sub-title">[상호명]이가 추천드려요!</div>
            </div>
            <div class="slider-header-tilte-button">
              <a href="#">더 보기</a>
            </div>
          </div>
          <div class="container-slider-image">
            <div class="container-slider-image-button">
              <button class="slider-left-button">
                <img src="../img/left-arrow.png" />
              </button>
            </div>
            <div class="container-products-images">
              <div class="products-image-list">
                <div>
                  <img
                    src="https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/Xp8J-1666763020027-1011ssgp_9241.jpg"
                  />
                </div>
                <span>주류이름 어쩌고</span>
              </div>
              <div class="products-image-list">
                <div>
                  <img
                    src="https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/Xp8J-1666763020027-1011ssgp_9241.jpg"
                  />
                </div>
                <span>주류이름 어쩌고</span>
              </div>
              <div class="products-image-list">
                <div>
                  <img
                    src="https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/Xp8J-1666763020027-1011ssgp_9241.jpg"
                  />
                </div>
                <span>주류이름 어쩌고</span>
              </div>
              <div class="products-image-list">
                <div>
                  <img
                    src="https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/thumbnail/Xp8J-1666763020027-1011ssgp_9241.jpg"
                  />
                </div>
                <span>주류이름 어쩌고</span>
              </div>
            </div>
            <div class="container-slider-image-button">
              <button class="btn2"><img src="../img/right-arrow.png" /></button>
            </div>
          </div>
        </section>
      </div>
    </main>

    <script src="home.js"></script>
    <script type="module" src="../template/getHeaderFooter.js"></script>
  </body>
</html>
