/* body */
body {
  overflow-x : hidden;
  margin: 0;
}

header, .body-container, footer {
  padding: 0 7vw 0 7vw;
}

/* header */
header {
  padding-top: 30px;
}

.header-container {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-menu .company-logo{
  width: 37px;
  height: 26px;
  vertical-align: middle;
}

.user-menu {
  margin-left: 5px;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.user-menu .user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.user-menu .user-img a img {
  width: 45px;
  height: 45px;
}



/* main */
.main-section-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-section-container .main-login-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
}

.main-login-form p {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
}

.main-login-form .login-form-input {
  margin: 10px 0;
}


.main-login-form .login-form-button {
  margin: 40px 0 20px ;
  padding: 0;
  height: 40px;
  background-color: dodgerblue;
  border: none;
  border-radius: 5%;
}

.main-login-form .login-form-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-login-form .login-form-text div a {
  color: dimgray;
}

/* footer */

.footer-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-top: 1px solid rgb(243, 243, 243);
  margin-top: 50px;

  padding: 30px 0 70px 0;
}

.footer-container .footer-policy {
  display: flex;
  margin-bottom: 11px;
  box-sizing: border-box;
}

.footer-container .footer-policy .policy__item {
  display: flex;
}

.footer-container .footer-policy .policy__item .footer-item-text {
  font-size: 17px;
  margin-right: 40px;
  text-decoration: none;
  color: black;
}

.footer-info li .footer-item-text {
  font-size: 8px;
}

.footer-info .info__item {
  height: 14px;
}
