<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인 - 한술담 🍶</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="login.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
    <link rel="stylesheet" href="../template/main_style.css" />
  </head>
  <body>
    <main class="body-container">
      <div class="body-section-container">
        <form class="body-login-form" id="loginForm">
          <p class="login-form-hello">안녕하세요 한술담입니다</p>
          <section class="login-form-input">
            <label class="input-email-label" for="emailInput">이메일</label>
            <div class="input-control">
              <input
                class="input"
                id="emailInput"
                type="email"
                placeholder="abc@example.com"
                autocomplete="on"
              />
            </div>
          </section>

          <section class="login-form-input">
            <label class="login-form-input-password-label" for="passwordInput">비밀번호</label>
            <div class="input-control">
              <input
                class="input"
                id="passwordInput"
                type="password"
                placeholder="********"
                autocomplete="on"
              />
            </div>
          </section>

          <button class="login-form-button button-35-brown" id="submitButton">
            로그인하기
          </button>

          <section class="login-form-text">
            <div>
              <a href="/join" class="join-button button-35-white">회원가입</a>
            </div>
            <div>
              <a href="/find-password" class="find-button button-35-white">비밀번호 찾기</a>
            </div>
          </section>
        </form>
      </div>
    </main>
    <script src="login.js" type="module" defer></script>
    <script src="../template/getHeaderFooter.js" type="module" defer></script>
  </body>
</html>
