<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Liquor Store 🍸</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="../template/footer/footer.css" />
    <link rel="stylesheet" href="../template/header/header.css" />
  </head>
  <body>
    <main class="body-container">
      <div class="order-status-wrapper">
        <ol class="order-status-bar">
          <li class="order-status-highlighted">01 SHOPPNIG BAG</li>
          <li class="order-arrow">➡</li>
          <li class="order-status">02 ORDER</li>
          <li class="order-arrow">➡</li>
          <li class="order-status">03 ORDER CONFIRMED</li>
        </ol>
      </div>
      <section class="container-shoppingbag">
        <div class="shoppingbag-list-wrapper">
          <div class="shoppingbag-list">
            <div class="delete-wrapper">
              <input
                type="checkbox"
                name="all-checker"
                class="all-checker"
                checked="checked"
              /><label for="checker1"></label>
              <button role="button" class="selected-item-delete-button">
                선택 상품 삭제
              </button>
              <div class="delete-button"></div>
            </div>
          </div>
        </div>
        <div class="container-caculate-price">
          <div class="bill">
            <div class="content">
              <div class="bill-title">총 상품금액</div>
              <div class="total-product-price">0원</div>
              <div class="bill-title">배송비 (5만원 이상 무료배송)</div>
              <div class="delivery-fee">0원</div>
            </div>
            <div class="border-bottom"></div>
            <div class="bill-footer">
              <div class="bill-title">총 결제금액</div>
              <div class="total-payment-price">0 원</div>
            </div>
          </div>
          <div class="button-wrapper">
            <button
              role="button"
              onclick="window.location.href='/order'"
              id="rounded-button"
              class="checkout hidden"
            >
              CHECKOUT
            </button>
            <button
              role="button"
              onclick="window.location.href= '/'"
              id="rounded-button"
            >
              CONTINUE SHOPPING
            </button>
          </div>
        </div>
      </section>
    </main>

    <script type="module" src="cart.js"></script>
    <script type="module" src="../template/getHeaderFooter.js"></script>
  </body>
</html>
